body {
  overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4267B2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password,
  .create-account {
    margin-top: 20px;
    text-align: center;
  }
  
  a {
    color: #4267B2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .signup-link {
    color: #4267B2; /* Blue color */
    text-decoration: underline; /* Underline on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .signup-link:hover {
    text-decoration: none; /* Remove underline on hover */
  }
  